* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 90%;
    max-width: 20em;
    height: 2.5em;
    position: relative;
}

.form_input {
    position: absolute;
    height: 2.5em;
    width: 100%;
    background: #121212;
    border: 2px solid #fff;
    border-radius: 0.5em;
    outline: none;
    color: #fff;
    padding-left: 1em;
    margin-top: 5px;
}

label {
    position: relative;
    background: #121212;
    color: #fff;
    font-family: sans-serif;
    left: 1em;
    top: 0.75em;
    cursor: text;
    transition: top 350ms ease-out,
    font-size 350ms ease-out;
}

button {
    width: 320px;
    height: 2.5em;
    border-radius: 0.5em;
    margin-top: 8px;
    transition: .3s;
    font-family: sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #2394cd;
}

.form_input:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.form_input:focus {
    border: 2px solid #00ffff;
}

input[type="text"]:focus ~ label, 
.form_input:not(:placeholder-shown).form_input:not(:focus) ~ label
{
    top: -0.5em;
    font-size: 0.75rem;
    /* padding: 0 0.125em; */
    padding: 0 0.5em;
}
